<div ng-cloak >
    <md-content class="md-padding" >
      <div flex-gt-sm="100" flex>
      <md-toolbar layout="row" class="md-hue-3">
        <div class="md-toolbar-tools">
          <span>List view of avaialble cars</span>
        </div>
      </md-toolbar>
      <md-list flex>
        <md-subheader class="md-no-sticky">3 line item (with hover)</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="item in list.todos" ng-click="null">
          <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
          <div class="md-list-item-text" layout="column">
            <h3>{{ item.who }}</h3>
            <h4>{{ item.what }}</h4>
            <p>{{ item.notes }}</p>
          </div>
        </md-list-item>
      </md-list>
    </div>
  </md-content>
</div>
