<!doctype html>
<html ng-app="app">
  <head>
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="robots" content="noindex" />
    <meta name="theme-color" content="#EE3268" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css" />
  </head>
  <body> <!-- ng-strict-di -->
    <header>
      <md-content>
        <md-toolbar class="md-hue-2">
          <div class="md-toolbar-tools">
            <h2 flex md-truncate>My Car's Home</h2>
            <md-button></md-button>
            <logout path='{{path}}'>
          </div>
        </md-toolbar>
        <br>
      </md-content>


      <!-- <nav>
          <a ui-sref="example">Example</a>
          <a ui-sref="list">List</a>
      </nav> -->
      <app-nav></app-nav>
    </header>
    <div id="app-wrapper" ui-view=""></div>
  </body>
</html>
